@model IEnumerable<ObjetoBase>

<a href="@Url.Action("Create")" class="btn btn-primary mb-2">Agregar</a>

<table class="table table-hover">
<thead>
    <tr>
        <th scope="col" style="width: 400px;">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col" style="width: 260px;"></th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Nombre</td>
            <td>
                <a href="@Url.Action("", new { item.Id })" class="btn btn-secondary">Detalle</a>
                <a href="@Url.Action("Update", new { item.Id })" class="btn btn-info">Editar</a>
                <a href="@Url.Action("Delete", new { item.Id })" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
    }
</tbody>
</table>