@model ASPNetCore.Models.Asignatura

@{
    ViewData["Title"] = "Eliminar Asignatura";
}

<h1>@ViewData["Title"]</h1>

<h3>¿Esta seguro de eliminar la asignatura?</h3>
<div>
    <h4>Asignatura</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Curso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Curso.Direccion)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Regresar</a>
    </form>
</div>
